<h1 class="nav" style="background-color:rgb(55, 64, 197); color:antiquewhite">
  🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">
<img src="assets/woman-2141808.jpg" style="width:90%">
  <div style="position:absolute;top:40%;left:30%;transform:translate(-50%,-50%);">
    <h3>HEALTH IS WEALTH<br /> TAKE CARE OF YOUR HEALTH</h3>
  </div>
<div style="position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
